---
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";

export interface Props {
  pageTitle: string;
  pageDescription: string;
  url: string;
  ogImage?: string;
}

const { pageTitle, pageDescription, url, ogImage='/src/assets/profile.jpg' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			const stored = localStorage.getItem("theme");
  			const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  			const theme = stored || (prefersDark ? "dark" : "light");
  			document.documentElement.classList.add(theme);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="generator" content={Astro.generator} />
		<Seo pageTitle={pageTitle} pageDescription={pageDescription} url={url} ogImage={ogImage}  />
	</head>
	<body class="text-onSurface bg-surface min-h-screen flex flex-col">
		<main class="flex-grow">	
			<slot />
		</main>
		<Footer />
	</body>
</html>
